@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

.form {
  text-align: center;
  background-image: url("../assets/bg-intro-mobile.png");
  background-repeat: repeat-x;
  background-size: auto;
  background-color: #ff7979;
  height: 1000px;
  width: 100%;
  font-family: "Poppins";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 327px;
  height: 80;
  color: white;
}
label {
  color: pink;
}
p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
}
h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.291667px;
}
.form-container {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.price {
  height: 88px;
  background-color: #5e54a4;

  border-radius: 18px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  text-align: center;
  padding: 18px 66px;
  font-size: 15px;
}
.try-free {
  font-weight: 700;
}
.form-inputs {
  height: 442px;
  background-color: white;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 24px;
}
input,
.password-section {
  margin-bottom: 16px;
  height: 56px;
  width: 279px;
  border-radius: 5px;
  border: 1px solid #dedede;
  font-family: "Poppins";
  outline: none;
}
button {
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  width: 279px;
  height: 56px;
  text-align: center;
  letter-spacing: 1px;
  background: #38cc8b;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  border: none;
  color: white;
}
form p {
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;

  text-align: center;

  color: #bab7d4;
  margin: 8px 39px 0 39px;
}
.terms {
  color: #ff7979;
}
.password-section {
  display: flex;
  margin-left: 12px;
  justify-content: space-between;
}
.show {
  color: gray;
  opacity: 0.7;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}
.password-input {
  width: 200px;
  outline: none;
  border: none;
}
@media screen and (min-width: 880px) {
  .form {
    display: flex;
    flex-direction: row;
    gap: 45px;
    height: 100vh;
    background-image: url("../assets/bg-intro-desktop.png");
  }
  .heading {
    width: 525px;
    margin-left: 20px;
  }
  h1,
  p {
    text-align: left;
  }
  .form-container {
    width: 540px;
    height: 570px;
  }
  .price {
    height: 60px;
    padding: 17px 112px;
  }
  .price p {
    text-align: center;
    width: 316px;
    white-space: nowrap;
  }
  .form-inputs {
    padding-top: 40px;
  }
  input {
    width: 460px;
  }
  .password-section {
    width: 466px;
  }
}
